/*GENERAL*/

@font-face
{
	font-family: "Raleway", sans-serif;
	src: url('font/Raleway.ttf') format('truetype');
}

*{
	margin: 0px;
	padding :0;
	overflow-wrap: break-word;
	font-family: "Raleway";
}

p
{
	margin: 10px;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

h1
{
	margin: 10px;
}

h2
{
	margin: 10px;
}

h3
{
	margin: 10px;
}

li {
    list-style: none;
    text-decoration: none;
}

img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}




/* NAVBAR */

nav,
.navbar,
.navbar_link {
    display: flex;
}

nav img 
{
    position: static;
    width: 110px;
    height: 60px;
    margin-left: 10px;
}
    
/*.suscribe {
    position: absolute;
    top: 35px;
    right: 15px;
}*/


.navbar {
	justify-content: flex-end;
    width: 100%;
    height: 50px;
}
   
.navbar_link:hover 
{
    border-top: 2px solid #0065FC;
}

nav 
{
    align-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
}


.navbar {
    width: 100%;
}

.suscribe 
{
	margin: 15px 0 0 10px;
}

.suscribe a {
    color: #0065FC;
    font-weight: bold;
}

.navbar_link,
.suscribe {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}


/*HEADER*/
#map
{
	padding: 15px;
	padding-bottom: 18px;
	color: black !important;
	background-color: #F2F2F2;
	border-radius: 20px 0px 0px 20px;
}

#site-search
{
	height: 50px;
	width: 200px;
	font-family:"Raleway";
	border: 1px solid #F2F2F2;
}

#search
{
	height: 50px;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
	font-family:"Raleway";
	border-radius: 0px 20px 20px 0px;
	background-color: #2265FC;
	box-shadow: none;
	margin-left: -4px;
}

#search:active
{
	height: 50px;
	width: 100px;
	color: white;
	font-weight: bold;
	font-family:"Raleway";
	border-radius: 0px 20px 20px 0px;
	background-color: #2265FC;
	border-color: white;
	box-shadow: none;
}

#search2
{
    border-radius: 0px 20px 20px 0px;
    border: none;
    padding-top: 3px;
    padding-bottom: 6px;
    margin-left: -3px;
    font-size: 20px;
    background-color: #0065FC;
    color: white;
}

.fa-search
{
	background-color: #0065DC !important;
	color: white !important;
}

.fa-info 
{
	color: #2265FC;
	border: 1px solid #F2F2F2;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 10px !important;
	padding-left: 10px !important;
	background-color: white !important;
	border-radius: 50%;
}

#filter
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.filter:hover
{
	color: #2265FC;
	transform: scale(1.05);
	transition-duration: 330ms;
}

.filter:active
{
	background-color: #2265FC;
	color: white;
	font-weight: bold;
}


.fas
{
	color: #2265FC;
	padding: 10px;
	background-size: 40px;
	background-color: #DEEBFF;
	border-radius: 50%;
}

.fa-child
{
	padding-right: 12px;
	padding-left: 12px;
}

.gold
{
	color: #2265FC !important;
}

.fa-star
{
	color: #F2F2F2;
}

.filter
{
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	max-width: 300px;
	height: 40px;
	padding-right: 15px;
	margin-left: 20px;
	margin-bottom: 10px;
}


/*HEBERGEMENTS*/


#flexheb
{
	display: flex;
	justify-content: space-around; 
	flex-direction: row;
	flex-wrap: wrap;
}

#container1
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}

#heb 
{
	background-color: #F2F2F2;
	border-radius: 20px;
	flex:2;
	min-width: 360px;
	margin: 20px;
}

.accomodations 
{
	width: 100%; 
	height: 150px; 
	object-fit: cover;
	border-radius: 20px 20px 0 0 ;
}

.heb 
{
	min-width: 250px;
	min-width: 30%;
	max-width: 85%;
	flex:1;
	margin-left: 10px;
	margin-right: 10px;
	border:7px solid white;
	background-color: white;
	border-radius: 20px;
	margin-top:40px; 
	box-shadow: 25px 16px 42px -9px rgba(186,186,186,0.67);
  }
.heb:hover
{
	transform: scale(1.05);
	transition-duration: 330ms;
}

/*POPULAIRE*/

#container2
{
	background-color: #F2F2F2;
	flex:1;
	border-radius: 20px;
	margin: 20px 20px 20px 20px;
}

.pop
{
	float: left;
	margin-right: 20px;
	width: 33%; 
	height: 200px; 
	object-fit: cover;
	border-radius: 20px 0 0 20px;
}

.popular
{
	border: 7px solid white;
	background-color: white;
	border-radius: 20px;
	margin: 20px; 
	min-width: 250px;
	min-height: 200px;
	box-shadow: 25px 16px 42px -9px rgba(186,186,186,0.67);
  }

  .popular:hover
  {
  	transform: scale(1.05);
	transition-duration: 330ms;
  }

  .stars
  {
  	margin-left: 10px;
  }

  .starspop
  {
  	margin-top: 50px;
  }

  .hotelpop
  {
  	margin: 20px;
  }

  .pricepop
  {
  	margin-left: 10px;
  }

.fa-chart-line
{ 
	color: black;
	background-size: 40px;
	background-color: #F2f2f2;
	border-radius: 50%;
	margin-top: -5px;
	float: right;
}
.sectiontitle
{
	font-size: 1.6em ;
	margin-left: 30px !important;
	margin-top: 20px !important;
}

#showmore
{
	font-size: 1.4em ;
	font-weight: bold;
	margin-left: 30px !important;
	margin-top: 40px !important;
}

/*ACTIVITES*/

#flexact1
{
	display: flex;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flexact3
{
	flex-grow: 1;
	width: 22%;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 20px;
}

.actver
{
	width: 22%;
	min-width: 250px;
	flex-grow: 1;
	border-radius: 20px;
	min-width: 250px;
	border: 0px solid white;
	background-color: white;
	box-shadow: 25px 16px 42px -9px rgba(186,186,186,0.67);
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 20px;
}

.actver:hover
{
	transform: scale(1.05);
	transition-duration: 330ms;
}

.ver
{
	width: 100%;
	height: 90%;
	object-fit: cover;
	border-radius: 20px 20px 0 0 ;
}



.acthor
{

	border-radius: 20px;
	border: 0px solid white;
	background-color: white;
	box-shadow: 25px 16px 42px -9px rgba(186,186,186,0.67);
	max-height: 290px !important;
}

.acthor:hover
{
transform: scale(1.05);
		transition-duration: 330ms;
	}

.haut{
	margin-bottom: 20px;
}
.bas{
	margin-top: 20px;
}
.hor
{
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
	max-height: 255px;
}

/*FOOTER*/

footer
{
	background-color: #F2F2F2
}

#footer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.divfooter
{
	flex: 0.33;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}

.footertitle
{
	font-weight: bold;
	margin-bottom: 25px;
}

.footerlink
{
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}

.footerlink:hover
{
	color: #2265FC;
}

/*SMARTPHONE*/
@media only screen and (max-width: 414px) 

{

nav img {
    position: absolute;
    margin: 0 15px 0px 15px;
    width: 110px;
    height: 60px;
}

.navbar {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
    padding: 0;
    width: 100%;
    height: 50px;
}

.suscribe {
    position: absolute;
    top:10px;
    right: 0px;
}

.navbar_link {
    width: 100%;
}

.navbar_link
{
	border-bottom: 2px solid #F2F2F2 ;
}

.navbar_link:hover {
    border-bottom: 2px solid #0065FC;
    border-top: none;
} 

.navbar_link a:hover {
    color: #0065FC;
}

#search
{
	display: none;
}

.sectiontitle
{
	font-size: 1.4em;
}

#showmore 
{
	font-size: 1.2em;
}
#heb
{
	background-color: white;
}

#flexheb
{
	width: 100%;
	justify-content: center;
}


#container2
{
	width: 100%;
	min-width: 280px;
	margin:0;
	border-radius: 0;
}


.popular
{
	height: auto;
}

.pop
{
	width: 40%;
	
}


.heb
{
	min-width: 90%;
}


.hor,
.ver
{
	height: 180px;
}

.ver
{
	height: 80%;
}


#flexact1
{
	width: 100%;
	min-width: 280px;
	margin: 0;
	justify-content: center;
}

.divfooter
{
	min-width: 280px;
}
}

@media screen and (min-width: 415px) 
{

#search2
{
	display: none;
}

#flexheb
{
	margin-left: 10px;
}

.heb
{
	max-width: 85%;
}

}

@media screen and (max-width: 680px)
{
.ver
{
	height: 85%;
}
}


/*TABLETTES*/
@media only screen and (min-width: 680px) and (max-width: 1080px) 

{

.heb
{
	max-width: 85%;
	min-width: 250px;
}

#flexact1
{
	width: 100%;
	justify-content: center;
}

#heb
{
	background-color: white;
}

#container1
{
	flex-direction: column-reverse;
}

#container2
{
	width: 100%;
	margin: 0 0 0 0 !important;
	border-radius: 0%;
	align-items: center;
	justify-content: center;
}
}

